mes_cache/JobManagementWebService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://xml.fa-software.com/mycim/wsdd/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://xml.fa-software.com/mycim/wsdd/" xmlns:intf="http://xml.fa-software.com/mycim/wsdd/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="deleteHJUserRequest">

   </wsdl:message>

   <wsdl:message name="checkMaterialLotRequest">

      <wsdl:part name="condtion" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getPreStepLotIdRequest">

      <wsdl:part name="eqpId" type="soapenc:string"/>

      <wsdl:part name="facilityId" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="dispatchLotResponse">

      <wsdl:part name="dispatchLotReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="qryJobListByEquipResponse">

      <wsdl:part name="qryJobListByEquipReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="checkMaterialLotResponse">

      <wsdl:part name="checkMaterialLotReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part name="userName" type="soapenc:string"/>

      <wsdl:part name="password" type="soapenc:string"/>

      <wsdl:part name="facilityId" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="lotLaminationDataTransmissionResponse">

      <wsdl:part name="lotLaminationDataTransmissionReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="qryJobListByEquipRequest">

      <wsdl:part name="facilityId" type="soapenc:string"/>

      <wsdl:part name="eqipId" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="dispatchLotRequest">

      <wsdl:part name="facilityId" type="soapenc:string"/>

      <wsdl:part name="userId" type="soapenc:string"/>

      <wsdl:part name="eqipId" type="soapenc:string"/>

      <wsdl:part name="lotIds" type="soapenc:string"/>

      <wsdl:part name="transData" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="findHJUserResponse">

      <wsdl:part name="findHJUserReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="addHJUserResponse">

      <wsdl:part name="addHJUserReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="addHJUserRequest">

      <wsdl:part name="DHUser" type="soapenc:string"/>

      <wsdl:part name="CHUser" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="deleteHJUserResponse">

      <wsdl:part name="deleteHJUserReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="logEventResponse">

      <wsdl:part name="logEventReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getLotInfoRequest">

      <wsdl:part name="lotId" type="soapenc:string"/>

      <wsdl:part name="equipRrn" type="soapenc:long"/>

      <wsdl:part name="userRrn" type="soapenc:long"/>

      <wsdl:part name="facilityRrn" type="soapenc:long"/>

   </wsdl:message>

   <wsdl:message name="lotLaminationDataTransmissionRequest">

      <wsdl:part name="facilityId" type="soapenc:string"/>

      <wsdl:part name="userId" type="soapenc:string"/>

      <wsdl:part name="eqpId" type="soapenc:string"/>

      <wsdl:part name="lotIds" type="soapenc:string"/>

      <wsdl:part name="transData" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getPreStepLotIdResponse">

      <wsdl:part name="getPreStepLotIdReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="checkUserNameRequest">

      <wsdl:part name="userName" type="soapenc:string"/>

      <wsdl:part name="facilityId" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="dispatchLotForLamRequest">

      <wsdl:part name="facilityId" type="soapenc:string"/>

      <wsdl:part name="userId" type="soapenc:string"/>

      <wsdl:part name="eqipId" type="soapenc:string"/>

      <wsdl:part name="lotIds" type="soapenc:string"/>

      <wsdl:part name="transData" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="saveLaminationDataRequest">

      <wsdl:part name="transData" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="logEventRequest">

      <wsdl:part name="facilityId" type="soapenc:string"/>

      <wsdl:part name="userId" type="soapenc:string"/>

      <wsdl:part name="eqipId" type="soapenc:string"/>

      <wsdl:part name="transData" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="findHJUserRequest">

      <wsdl:part name="DHUser" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="checkUserNameResponse">

      <wsdl:part name="checkUserNameReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getEqpInfoRequest">

      <wsdl:part name="userId" type="soapenc:string"/>

      <wsdl:part name="equipId" type="soapenc:string"/>

      <wsdl:part name="facilityRrn" type="soapenc:long"/>

   </wsdl:message>

   <wsdl:message name="dispatchLotForLamResponse">

      <wsdl:part name="dispatchLotForLamReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getEqpInfoResponse">

      <wsdl:part name="getEqpInfoReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getLotInfoResponse">

      <wsdl:part name="getLotInfoReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part name="loginReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="saveLaminationDataResponse">

      <wsdl:part name="saveLaminationDataReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="JobManagementWebService">

      <wsdl:operation name="login" parameterOrder="userName password facilityId">

         <wsdl:input message="impl:loginRequest" name="loginRequest"/>

         <wsdl:output message="impl:loginResponse" name="loginResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addHJUser" parameterOrder="DHUser CHUser">

         <wsdl:input message="impl:addHJUserRequest" name="addHJUserRequest"/>

         <wsdl:output message="impl:addHJUserResponse" name="addHJUserResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteHJUser">

         <wsdl:input message="impl:deleteHJUserRequest" name="deleteHJUserRequest"/>

         <wsdl:output message="impl:deleteHJUserResponse" name="deleteHJUserResponse"/>

      </wsdl:operation>

      <wsdl:operation name="findHJUser" parameterOrder="DHUser">

         <wsdl:input message="impl:findHJUserRequest" name="findHJUserRequest"/>

         <wsdl:output message="impl:findHJUserResponse" name="findHJUserResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getPreStepLotId" parameterOrder="eqpId facilityId">

         <wsdl:input message="impl:getPreStepLotIdRequest" name="getPreStepLotIdRequest"/>

         <wsdl:output message="impl:getPreStepLotIdResponse" name="getPreStepLotIdResponse"/>

      </wsdl:operation>

      <wsdl:operation name="checkUserName" parameterOrder="userName facilityId">

         <wsdl:input message="impl:checkUserNameRequest" name="checkUserNameRequest"/>

         <wsdl:output message="impl:checkUserNameResponse" name="checkUserNameResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getEqpInfo" parameterOrder="userId equipId facilityRrn">

         <wsdl:input message="impl:getEqpInfoRequest" name="getEqpInfoRequest"/>

         <wsdl:output message="impl:getEqpInfoResponse" name="getEqpInfoResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getLotInfo" parameterOrder="lotId equipRrn userRrn facilityRrn">

         <wsdl:input message="impl:getLotInfoRequest" name="getLotInfoRequest"/>

         <wsdl:output message="impl:getLotInfoResponse" name="getLotInfoResponse"/>

      </wsdl:operation>

      <wsdl:operation name="checkMaterialLot" parameterOrder="condtion">

         <wsdl:input message="impl:checkMaterialLotRequest" name="checkMaterialLotRequest"/>

         <wsdl:output message="impl:checkMaterialLotResponse" name="checkMaterialLotResponse"/>

      </wsdl:operation>

      <wsdl:operation name="dispatchLot" parameterOrder="facilityId userId eqipId lotIds transData">

         <wsdl:input message="impl:dispatchLotRequest" name="dispatchLotRequest"/>

         <wsdl:output message="impl:dispatchLotResponse" name="dispatchLotResponse"/>

      </wsdl:operation>

      <wsdl:operation name="dispatchLotForLam" parameterOrder="facilityId userId eqipId lotIds transData">

         <wsdl:input message="impl:dispatchLotForLamRequest" name="dispatchLotForLamRequest"/>

         <wsdl:output message="impl:dispatchLotForLamResponse" name="dispatchLotForLamResponse"/>

      </wsdl:operation>

      <wsdl:operation name="lotLaminationDataTransmission" parameterOrder="facilityId userId eqpId lotIds transData">

         <wsdl:input message="impl:lotLaminationDataTransmissionRequest" name="lotLaminationDataTransmissionRequest"/>

         <wsdl:output message="impl:lotLaminationDataTransmissionResponse" name="lotLaminationDataTransmissionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="saveLaminationData" parameterOrder="transData">

         <wsdl:input message="impl:saveLaminationDataRequest" name="saveLaminationDataRequest"/>

         <wsdl:output message="impl:saveLaminationDataResponse" name="saveLaminationDataResponse"/>

      </wsdl:operation>

      <wsdl:operation name="logEvent" parameterOrder="facilityId userId eqipId transData">

         <wsdl:input message="impl:logEventRequest" name="logEventRequest"/>

         <wsdl:output message="impl:logEventResponse" name="logEventResponse"/>

      </wsdl:operation>

      <wsdl:operation name="qryJobListByEquip" parameterOrder="facilityId eqipId">

         <wsdl:input message="impl:qryJobListByEquipRequest" name="qryJobListByEquipRequest"/>

         <wsdl:output message="impl:qryJobListByEquipResponse" name="qryJobListByEquipResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="JobManagementWebServiceSoapBinding" type="impl:JobManagementWebService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addHJUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addHJUserRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addHJUserResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteHJUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteHJUserRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteHJUserResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findHJUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findHJUserRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="findHJUserResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPreStepLotId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPreStepLotIdRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getPreStepLotIdResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkUserName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkUserNameRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="checkUserNameResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getEqpInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEqpInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getEqpInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getLotInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLotInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getLotInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkMaterialLot">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkMaterialLotRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="checkMaterialLotResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="dispatchLot">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="dispatchLotRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="dispatchLotResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="dispatchLotForLam">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="dispatchLotForLamRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="dispatchLotForLamResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="lotLaminationDataTransmission">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="lotLaminationDataTransmissionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="lotLaminationDataTransmissionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="saveLaminationData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveLaminationDataRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="saveLaminationDataResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logEvent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logEventRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="logEventResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="qryJobListByEquip">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="qryJobListByEquipRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="qryJobListByEquipResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xml.fa-software.com/mycim/wsdd/" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="JobManagementWebServiceService">

      <wsdl:port binding="impl:JobManagementWebServiceSoapBinding" name="JobManagementWebService">

         <wsdlsoap:address location="http://10.227.40.27:8088/mycim2/services/JobManagementWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
